.sidebarMenu {
  background: #00a1dc;
  color: #fff;
  font-weight: 500;

  transition: 0.3s ease;
}

.ant-menu {
  color: #fff !important;
}

.info-header a + a {
  margin-left: 10px;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #000 !important;
}

.ant-menu-light .ant-menu-item:hover {
  color: #002b73 !important;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
