* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parentContainer {
  height: 100%; /* Set the height of the parent container */
}

.bodyAddNew {
  margin: 0;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  background: #f7f8fa;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.formLabel {
  font-weight: bold;
  color: #fff;
}

.inputField {
  height: 40px;
  border-radius: 5px;
  border: '1px solid #d9d9d9';
  padding: '2px 15px';
  font-size: 16;
}

.inputFieldNote {
  border-radius: 5px;
  border: '1px solid #d9d9d9';
  padding: '2px 15px';
  font-size: 16;
}
